@page "/flightsearch"
@using Gotorz.Models
@using Gotorz.Services
@rendermode InteractiveServer

@inject FlightService FlightService

<h3>Search for Flights</h3>

@*Flight found by destination and time*@
By destination and time 
<br />
@*Search fields*@
<input @bind="from" placeholder="From" />
<input @bind="to" placeholder="To" />
<input @bind="outboundDate" type="date" />
<input @bind="returnDate" type="date" />
<br /> 
<br />
@*Search button*@
<button @onclick="SearchFlights">Search</button>
@*List of fligts*@
<br />
<br />
<h3>Outbound flights: </h3>
<table>
    <thead>
        <tr>
            <th>Destination From</th>
            <th>Destination To</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Flight Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in outboundFlights)
        {
            <tr>
                <td>@flight.DestinationFrom</td>
                <td>@flight.DestinationTo</td>
                <td>@flight.TimeDeparture.ToString("dd-MM-yyyy")</td>
                <td>@flight.TimeDeparture.ToString("HH:mm")</td>
                <td>@flight.TimeArrival.ToString("dd-MM-yyyy")</td>
                <td>@flight.TimeArrival.ToString("HH:mm")</td>
                <td>@flight.FlightNumber</td>
            </tr>
        }
    </tbody>
</table>
<br/>
<h3>Return flights: </h3>
<table>
    <thead>
        <tr>
            <th>Destination From</th>
            <th>Destination To</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Flight Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in returnFlights)
        {
            <tr>
                <td>@flight.DestinationFrom</td>
                <td>@flight.DestinationTo</td>
                <td>@flight.TimeDeparture.ToString("dd-MM-yyyy")</td>
                <td>@flight.TimeDeparture.ToString("HH:mm")</td>
                <td>@flight.TimeArrival.ToString("dd-MM-yyyy")</td>
                <td>@flight.TimeArrival.ToString("HH:mm")</td>
                <td>@flight.FlightNumber</td>
            </tr>
        }
    </tbody>
</table>

@code {
    // for search by destination and date
    private string from = null;
    private string to = null;
    private DateTime? outboundDate = null;
    private DateTime? returnDate = null;
    private List<Flight> outboundFlights = new();
    private List<Flight> returnFlights = new();

    private async Task SearchFlights() // both outbound and return flights in one
    {
        // list outbound flights for outbound date
        outboundFlights = await FlightService.SearchFlightsAsync(from, to, outboundDate, null);
                
        // list return flights for return date
        returnFlights = await FlightService.SearchFlightsAsync(to, from, returnDate, null);
    }

}
